:root {
    --text-primary: #404040;
    
    --bg-primary: #e6e6e6;
    --bg-secondary: #1b1b1b;
    --bg-tertiary: #3f4345;

    --color-light: white;
    --color-dark: black;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

* {
    box-sizing: border-box;
}